{% extends 'base.html' %}
{% block title %}Patient Information{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">DISCHARGE PATIENT FORM</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" action="/doctor/">
                    {% csrf_token %}
                    <div class="card bg-secondary text-white mb-3">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="card bg-success">
                                    <div class="card-body">

                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user fa-fw"
                                                        style='font-size:24px'></i></span>
                                            </div>
                                            {{form.patientID}}
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}