<!DOCTYPE html>
<html>
  <head>
    <style>
      input{
          width: 20%;
          background-image: url('search.png');
          background-position: 10px 10px; 
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
      }
        
      body{
          background-color:white;
      }
  </style>
</head>
<body>

<h2>The method Attribute</h2>

<p>This form will be submitted using the POST method:</p>

<form action="main/"  method="post">
    {% csrf_token %}
  {{form}}
  <input type="submit" value="Submit">
</form>

<p>After you submit, notice that the form values is visible in the address bar of the new browser tab.</p>

</body>
</html>

