{% extends 'base.html' %}
{% block title %}Front Desk Operator{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <h2 class="navbar-text text-white mx-auto">HMS</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="btn btn-success">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="box">
          <h1>FRONT DESK OPERATOR</h1>
        </div>
      </div>
      <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-primary text-white mb-3">
                    <div class="card-header text-center">REGISTER PATIENT</div>
                    <div class="card-body text-center">
                        <p class="card-text">Link for register patient</p>
                        <a href="pr/" class="btn btn-light">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-secondary text-white mb-3">
                    <div class="card-header text-center">ADMIT NEW PATIENT</div>
                    <div class="card-body text-center">
                        <p class="card-text">Link for admit new patient</p>
                        <a href="page2.html" class="btn btn-light">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-success text-white mb-3">
                    <div class="card-header text-center">DISCHARGE PATIENT</div>
                    <div class="card-body text-center">
                        <p class="card-text">Link for discharge patient</p>
                        <a href="page3.html" class="btn btn-light">Link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-danger text-white mb-3">
                    <div class="card-header text-center">MAKE AN APPOINTMENT</div>
                    <div class="card-body text-center">
                        <p class="card-text">Link for making an appointment</p>
                        <a href="page4.html" class="btn btn-light">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-warning text-white mb-3">
                    <div class="card-header text-center">SCHEDULE TEST</div>
                    <div class="card-body text-center">
                        <p class="card-text">Link for scheduling test</p>
                        <a href="page5.html" class="btn btn-light">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-info text-white mb-3">
                    <div class="card-header text-center">SCHEDULE TREATMENT</div>
                    <div class="card-body text-center">
                        <p class="card-text">Link for scheduling treatment</p>
                        <a href="page6.html" class="btn btn-light">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}