{% extends 'base.html' %}
{% block title %}Patient Information{% endblock %}
{% block content %}

<div class="container-fluid">
    <span class="card text-center">
        <div class="card-header">
            <h2 class="text-center mt-5 navbar-text">Biodata of {{ patient.name }} (ID: {{ patient.pk }})</h1>
                <!-- <p class="text-center lead">Upcoming list of appointments</p> -->
        </div>
        <div class="card-body">
            <p class="card-text">
                <strong>Name: </strong>{{ patient.name }}<br>
                <strong>Date of Birth: </strong>{{ patient.dob }}<br>
                <strong>Gender: </strong>{{ patient.gender }}<br>
                <strong>Address: </strong>{{ patient.address }}<br>
                <strong>Phone No.: </strong>{{ patient.phoneNumber }}<br>
                <strong>Email: </strong>{{ patient.email }}<br>
            </p>
        </div>
    </span>
    <span class="card text-center">
        <div class="card-header">
            <h2 class="text-center navbar-text">Medical Information</h1>
        </div>

        <div class="card-header">
            <h5 class="text-center">Appointment History</h5>
        </div>
        <div class="card-body text-center">
            <!-- NOTE: assumed that appointments is passed in context -->
            {% if appointments %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <div class="container">
                        <thead class="thead-light">
                            <tr>
                                <th>Doctor ID</th>
                                <th>Start Time</th>
                                <th>Priority</th>
                                <th>Report</th>
                                <th>Report Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appt in appointments %}
                            <tr>
                                <td>{{ appt.doctorID }}</td>
                                <td>{{ appt.startTime }}</td>
                                <td>{{ appt.priority }}</td>
                                <td>
                                {% if appt.appReport != "" %}
                                    <form action={% url 'filedownload' %} method='POST'>{% csrf_token %}<input type='hidden' name="fileName" value="{{ appt.appReport }}"/><input type='submit' value='Download' download/></form>
                                {% endif %}
                                </td>

                                <td>{{ appt.reportGenerationTime }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-center"><strong>This patient has no appointments.</strong></p>
            {% endif %}
        </div>



        <div class="card-header">
            <h5 class="text-center">Test History</h5>
        </div>
        <div class="card-body">
            <!-- NOTE: assumed that tests is passed in context -->
            {% if tests %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <div class="container">
                        <thead class="thead-light">
                            <tr>
                                <th>Test Name</th>
                                <th>Time</th>
                                <th>Report</th>
                                <th>Report Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for test in tests %}
                            <tr>
                                <td>{{ test.testName }}</td>
                                <td>{{ test.scheduledTime }}</td>
                                <td>
                                    {% if test.testReport != "" %}
                                    <form action="{% url 'filedownload' %}" method='POST'>{% csrf_token %}<input type='hidden' name="fileName" value="{{ test.testReport }}"/><input type='submit' value='Download' download/></form>
                                    {% endif %}
                                </td>
                                <td>{{ test.reportGenerationTime }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-center"><strong>This patient has no tests.</strong></p>
            {% endif %}
        </div>




        <div class="card-header">
            <h5 class="text-center">Operation History</h5>
        </div>
        <div class="card-body text-center">
            <!-- NOTE: assumed that operations is passed in context -->
            {% if operations %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <div class="container">
                        <thead class="thead-light">
                            <tr>
                                <th>Doctor ID</th>
                                <th>Operation Name</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Report</th>
                                <th>Report Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for op in operations %}
                            <tr>
                                <td>{{ op.doctorID }}</td>
                                <td>{{ op.opName }}</td>
                                <td>{{ op.startTime }}</td>
                                <td>{{ op.endTime }}</td>
                                <td>
                                    {% if op.operationReport != "" %}
                                    <form action="{% url 'filedownload' %}" method='POST'>{% csrf_token %}<input type='hidden' name="fileName" value="{{ op.operationReport }}"/><input type='submit' value='Download' download/></form>
                                    {% endif %}
                                </td>
                                <td>{{ op.reportGenerationTime }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-center"><strong>This patient has no operations.</strong></p>
            {% endif %}
        </div>
    </span>
</div>

{% endblock %}