{% extends 'base.html' %}
{% block title %}Patient Information{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <h2 class="navbar-text text-white mx-auto">HMS</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/pl" class="btn btn-success">GoBack</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center mt-5 navbar-text">PATIENT RESULTS</h1>
        <div class="row mt-5">
            <div class="col-md-6 d-flex flex-column">
                <p><strong>Name:</strong> {{ patient.name }}</p>
                <p><strong>Patient ID:</strong> {{ patient.id }}</p>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <p><strong>Appointment Result:</strong> {{ patient.appointment_result }}</p>
                <p><strong>Treatment Result:</strong> {{ patient.treatment_result }}</p>
                <p><strong>Test Result:</strong> {{ patient.test_result }}</p>
            </div>
        </div>
    </div>
{% endblock %}