<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>PATIENT_INFO</title>
    <style>
        h1 {
            color: teal;
        }

        h2 {
            color: aquamarine
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <h2 class="navbar-text text-white mx-auto">HMS</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/pl" class="btn btn-success">GoBack</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center mt-5 navbar-text">PATIENT RESULTS</h1>
        <div class="row mt-5">
            <div class="col-md-6 d-flex flex-column">
                <p><strong>Name:</strong> {{ patient.name }}</p>
                <p><strong>Patient ID:</strong> {{ patient.id }}</p>
            </div>
        </div>
        <h2 class="text-center mt-5 navbar-text">PRESCRIPTIONS</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Start Date</th>
                        <th>Prescription</th>
                        <th>Appointment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in tuples %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="text-center mt-5 navbar-text">TESTS</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>Test Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in tuples %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="text-center mt-5 navbar-text">OPERATIONS</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>Operation Report</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in tuples %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>