<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>PATIENT_INFO</title>
  <style>
    h1 {
      color: teal;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
      <h2 class="navbar-text text-white mx-auto">HMS</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/doctor" class="btn btn-success">GoBack</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <div class="container mt-4">
    <div class="card mb-4">
      <div class="card-header">
        <h4 class="mb-0">Enter the Appointment ID</h4>
      </div>
      <div class="card-body">
        <form method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.appointment_number.id_for_label }}">Appointment Number:</label>
            {{ form.appointment_number }}
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-success text-white mb-3">
          <div class="card-header text-center">
            <h5 class="mb-0">Treatment Prescribed</h5>
          </div>
          <div class="card-body text-center">
            <form method="post" action="">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" name="treatment"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-warning text-white mb-3">
          <div class="card-header text-center">
            <h5 class="mb-0">Drugs Prescribed</h5>
          </div>
          <div class="card-body text-center">
            <form method="post" action="">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" name="drugs"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" name="save">Save</button>
    </div>
  </div>
  
  <script>
    document.querySelector('button[name="save"]').addEventListener('click', function() {
      location.reload();
    });
  </script>

  <!-- Link to Bootstrap JS file -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>